@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNovaA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNova-Semibold.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNovaA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNovaA-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima_nova/ProximaNova-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

$nav_height: 100px;
$nav_bg: #fff;
$sub_nav_height: 50px;
$sub_nav_bg: #000;
$font_dark: #333333;
$yellow: #FFCE38;
$gothamFont: 'Gotham', sans-serif;
$proximaFont: 'Proxima', sans-serif;
$fontFamily: 'Open Sans', sans-serif;

.text-yellow{
    color: $yellow;
}
